<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="updateStudent" method="post">
        <input type="hidden" name="id" th:value="${student.id}">
        姓名:<input type="text" name="name" th:value="${student.name}"><br/>
        分数:<input type="text" name="score" th:value="${student.score}"><br/>
        地址:<input type="text" name="address" th:value="${student.address}"><br/>
        <input type="submit" value="提交">
    </form>
</div>
</body>
</html>